:root {
  --primary-color: #5100ff;
  --secondary-color: #f0f0f0;
  --third-color: #ff55a7;
  --font-family: 'Roboto', sans-serif;
  --button-bg-color: #ffb13b;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #ffa200;
  --button-hover-text-color: #ffffff;
}

body {
  font-family: var(--font-family);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--primary-color);
  padding: 10px 0;
}

.Navbar_Container {
  width: calc(100% - 40px);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
}

.navbar-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px 35px;
  transition: color 0.3s;
}

.navbar-list li a:hover {
  text-decoration: underline;
}

.navbar-buttons button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

.navbar-buttons button a {
  color: var(--button-text-color);
  text-decoration: none;
}

.navbar-buttons button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}

.title {
  padding-top: 50px;
  text-align: center;
  margin: 30px 0;
}

.title h2 {
  font-size: 40px;
  line-height: 40px;
  color: rgb(76, 0, 197);
}
.content h3,
h3,
p {
  margin: 0;
  padding: 10px;
}

.tabs {
  background-color: var(--secondary-color);
  width: 80%;
  padding: 10px 0;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
}

.tab {
  border: none;
  background-color: var(--secondary-color);
  padding: 8px 12px;
  color: var(--primary-color);
}

.tab:hover {
  background-color: rgb(112, 112, 255);
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.card-container {
  width: 80%;
  margin-top: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 280px;
  margin-top: 30px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
}

.image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.content {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.bookmark-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffd43b;
  cursor: pointer;
  transition: color 0.3s;
}

.label small {
  background-color: var(--third-color);
  padding: 5px 7px;
  border-radius: 2px;
  margin-bottom: 10px;
  color: white;
}
.rating {
  margin-left: 10px;
}
.icon {
  margin-right: 5px;
}

.main {
  flex: 1;
  padding: 20px;
  text-align: center;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--button-bg-color);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
html {
  scroll-behavior: smooth;
}
.scroll-to-top:hover {
  background-color: var(--button-hover-bg-color);
}
footer {
  background-color: var(--primary-color);
  font-family: var(--font-family);
  color: white;
  text-align: center;
  padding: 30px 0;
  width: 100%;
  margin-top: 50px;
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer_link {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.footer_link li {
  margin: 0 10px;
}

.footer_link a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s;
}

.footer_row {
  font-size: 14px;
  color: var(--secondary-color);
}

.row {
  padding-top: 40px;
}
hr {
  border: 0;
  height: 1px;
  background-color: #bcbcbc;
  margin: 10px 0;
}
h1 {
  cursor: default;
  color: white;
}
